* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 1%;
    background-color: rgb(2, 2, 78);
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0px;

}

header nav ul li {
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 10px;

}

body {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

nav a {
    color: white;


}

main {
    /* display: flex; */
    flex-direction: row;
    margin: 2% auto;
}

article {
    flex: 1 1 auto;
    padding-right: 5%;
}

h2 {
    
    font-size: 40pt;
    text-align: right;
    border-right: 5px black;
    
}


/* Main body About Me section */
.about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin-top: 10px;

}

.about-me-grid-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
}

.about-me-item.about-me-title {
    padding-top: 0px;
    font-size: 40px;
    grid-row: 1 / span 4;
    padding-right: 10px;
    text-align: right;
    border-right: 2px pink;
}

.about-me-item.p1 {
    padding-left: 10px;
    grid-column: 2 / span 3;
    grid-row: 3 / span 2;

}

.about-me-item.p2 {
    padding-left: 10px;
    grid-column: 2 / span 3;
    grid-row: 3 / span 2;
}