body {
    display: flex;
    flex-direction: column;
    line-height: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(2, 2, 78);
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    
    
    
    
}

nav a {
    color: white;


}

main {
    display: flex;
    flex-direction: row;
    margin: 2% auto;
}

article {
    flex: 1 1 auto;
    padding-right: 5%;
}

h2 {

    text-align: right;
}
